.card-lists {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
    grid-gap: $step * 3;
    align-self: baseline;
}

.card {
    font-family: PT Serif, Georgia, serif;
    color: $text-color;
    padding: $step;
    border-radius: 6px;
    &__body {
        padding: $step $step 0px $step;
        text-align: left;
    }
    &__photo {
        width: 100%;
        height: auto;
    }
    &__title {
        font-size: $font-size-medium;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__text {
        font-size: $font-size-default;
    }
    &__group_favorite {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-size: 13px;
    }
}

.like {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon {
    width: 22px;
    height: 22px;
    margin-left: $step;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 32px auto;
}

.button {
    width: 88px;
    height: 37px;
    margin: 0 8px;
    &_currentPage {
        width: 42px;
    }
}