.card-lists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    padding: $step;
    font-family: PT Serif, Georgia, serif;
    color: $text-color;
    width: 16rem;
    &__photo {
        width: auto;
        height: 100%;
    }
    &__title {
        font-size: $font-size-medium;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__text {
        font-size: $font-size-medium;
    }
    &__group_favorite {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
}

.like {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    width: 22px;
    height: 22px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    margin: 32px auto;
}

.button {
    width: 88px;
    height: 37px;
    padding: $step;
    &_currentPage {
        width: 42px;
    }
}

@media (min-width: 0px) {
    .card {
        margin-bottom: $step * 2;
        width: 14rem;
        &__group_favorite {
            font-size: $font-size-small;
        }
    }
}

@media (min-width: 576px) {
    .card {
        margin-bottom: $step * 4;
        width: 14rem;
        &__title {
            font-size: $font-size-medium;
        }
        &__group_favorite {
            font-size: $font-size-small;
        }
    }
}

@media (min-width: 768px) {
    .card {
        margin-bottom: $step * 6;
        width: 16rem;
        &__group_favorite {
            font-size: $font-size-medium;
        }
    }
}

@media (min-width: 992px) {
    .card {
        margin-bottom: $step * 6;
        width: 18rem;
        &__group_favorite {
            font-size: $font-size-medium;
        }
    }
}
