.section-content{
    font-family: PT Serif, Georgia, serif;
    color: $text-color;
    background-color: $bg-color-dark;
    line-height: 2;
    &__title{
        font-size: 48px;
        font-weight: 600;
        color: $text-color;
        padding: $step;
    }
    &__text{
        font-size: 18px;
        font-weight: 300;
        padding: $step;
        margin: 0;
        &_unknown{
            padding-left: $step;
            color: $text-color-warm
        }
    }
    &__link {
        display: block;
        color: $text-color;
        text-decoration: none;
     
    }
    &__link:hover {
        color: $color-active-link;
        text-decoration: none;
    }
    &__link_large{
        font-size: $font-size-medium*1.5;

   }
}

.page-loader {
    display: flex;
    flex-direction: column;
    padding: $step * 4 $step * 2;
    color: $text-color;
    justify-content: center;
    align-items: center;
    font-family: PT Serif, Georgia, serif;
    font-size: $font-size-medium;
}
