.section-content{
    min-height: 75vh;
    max-height: auto;
    text-align: justify;
    border: solid 1px $border-color;
    font-family: PT Serif, Georgia, serif;
    color: $text-color;
    background-color: $bg-color-dark;
    &__title{
        font-size: 48px;
        font-weight: 800;
        color: $text-color;
        padding-top: $step*8;
        text-align: center;
        font-family: PT Serif, Georgia, serif;
    }
    &__text{
        font-size: 18px;
        font-weight: 300;
        padding: $step*4 $step*8;
        text-align: center;
        line-height: 2;
    }
    &__author{
        font-size: 18px;
        font-weight: 600;
        padding: $step*2 $step*2;
        text-align: right;
       
    }
}

