@import "./header/_header.scss";
@import "./section-content/_section_content.scss";
@import "./section-resipes/_section_resipes.scss";
@import "./card/card";
@import "./recipe/_recipe";
@import "./footer/footer";