@import "./variables";

#root {
    max-width: 100%;
    background-color: $bg-color-dark;
}

.header{
    max-width: 100%;
    margin-bottom: 32px;
}

.footer{
    flex-shrink: 0;
    min-height: 40vh;
    max-height: 50vh;
}