@import "./variables";

#root {
    background-color: $bg-color-dark;
}

// .header{
//     margin-bottom: 32px;
// }

.section-content{margin-bottom: 72px;}

.card{
    margin-bottom: $step*4;
}

.footer{
    flex-shrink: 0;
    min-height: 40vh;
    max-height: 50vh;
}