/* Large desktops and laptops */
@media (min-width: 1200px) {
    .card-lists {
        grid-template-columns: repeat(auto-fill, minmax(204px, 1fr));
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .card-lists {
        grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    }

    .header {
        font-size: $font-size-small;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .card-lists {
        grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
    }
    .header {
        font-size: $font-size-default;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .card-lists {
        grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
    }

    .header {
        font-size: $font-size-large;
    }
}

@media (max-width: 576px) {
    .card-lists {
        grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
        grid-gap: $step * 3;
    }
    .card {
        &__group_favorite {
            font-size: $font-size-small;
        }
    }

    .header {
        font-size: $font-size-large;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .card-lists {
        grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
        grid-gap: $step * 3;
    }
    .card {
        &__group_favorite {
            font-size: $font-size-small;
        }
    }
}

/* Iphone 5 */
@media (max-width: 320px) {
    .card-lists {
        grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
        grid-gap: $step * 3;
    }
    .card {
        &__group_favorite {
            font-size: $font-size-small;
        }
    }
}
