$bg-color: #212529;
$bg-color-dark: #1a1a1a;
$text-color: #aaa8a8;
$text-color-warm: #ffc107;
$text-color-main: #f2f2f2;
$step: 8px;
$grid-column: 12;
$border-color: #f2f2f2;
$color-active-btn: #6c757d;
$color-btn: #343a40;
$color-active-link: #f2f2f2; 
$font-weight-thin: 300;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-default: 16px;