.section-cards {
    min-height: 90vh;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: $step * 2 $step * 2;
    font-family: PT Serif, Georgia, serif;
    color: $text-color;
    background-color: $bg-color-dark;
    &__pages {
        background-color: $bg-color-dark;
    }
}

.page-loader {
    min-height: 85vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    padding: $step * 4 $step * 2;
    color: $text-color-main;
    justify-content: center;
    align-items: center;
    font-family: PT Serif, Georgia, serif;
    font-size: $font-size-medium;
}

.like {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    width: 22px;
    height: 22px;
}

.pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    margin: 32px auto;
}

.button {
    width: 88px;
    height: 37px;
    padding: $step;
    &_currentPage{
        width: 42px;
    }
}