.footer{
    flex-shrink: 0;
    min-height: 5vh;
    max-height: 15vh;
    max-width: 100%;
    border: none;
    color: $text-color;;
    background-color: $bg-color;
    text-align: center;
    font-size: $font-size-medium;
    font-weight: $font-weight-thin;
    padding: $step*2 $step;
    font-family: PT Serif, Georgia, serif;
}