.footer {
    display: flex;
    flex-shrink: 0;
    min-height: 5vh;
    max-height: 15vh;
    max-width: 100%;
    border: none;
    color: $text-color;
    background-color: $bg-color;
    text-align: center;
    font-size:$font-size-small;
    font-weight: $font-weight-thin;
    padding: $step * 2 $step;
    font-family: PT Serif, Georgia, serif;
    align-items: center;
    justify-content: center;

    &__item {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    &__text {
        display: block;
        margin: 0;
        padding: 0px $step;
    }
    &__link {
        display: block;
        margin: 0px $step*4 0 0px;
        text-align: left;
        line-height: 2;
        color: $text-color;
        text-decoration: none;
    }
    &__link:hover {
        color: $color-active-link;
        text-decoration: none;
    }
}
