@import "../variables";

.header {
    color: $text-color;
    font-family: PT Serif, Georgia, serif;
    font-size: $font-size-medium;
    padding: $step $step*2;
}

.menu {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    &__item {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        display: block;
        margin: 0px $step*4 0 0px;
        text-align: left;
        line-height: 2;
        color: $text-color;
        text-decoration: none;
    }
    &__link:hover {
        color: $color-active-link;
        text-decoration: none;
    }
}

.logo {
    width: 80px;
    height: 36px;
}
