@import "../variables";

.header {
    display: flex;
    color: $text-color;
    background-color: $bg-color;
    font-family: PT Serif, Georgia, serif;
    font-size: $font-size-medium;
}

.menu {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    &__link {
        display: block;
        margin: 0 $step * 4;
        text-align: left;
        line-height: 2;
        color: $text-color;
        text-decoration: none;
    }
    &__link:hover {
        color: $color-active-link;
        text-decoration: none;
    }
}

.menu_dropdown{
    display: grid;
    justify-content: start;
    justify-items: start;
    margin-left: 76px;
    
}

.form {
    display: flex;
    justify-content: space-between;
    padding-right: $step * 12.5;
    margin-left: 32px;
    &__search {
        display: block;
        width: 198px;
        margin-right: $step;
        padding-left: $step;
    }
    &__btn {
        display: block;
    }
}

.logo {
    margin-left: $step * 13;
    width: 80px;
    height: 36px;
}
