@import "../variables";

.header {
    display: flex;
    color: $text-color;
    background-color: $bg-color;
    font-family: PT Serif, Georgia, serif;
    font-size: $font-size-medium;
}

.menu {
    &__link{
        display: flex;
        padding-left: $step*3; 
        text-align: center;
        line-height: 2;
        color: $text-color;
        text-decoration: none; 
       }
       &__link:hover {
        color: $color-active-link; 
        text-decoration: none;
    }
}

.logo{
    padding-left: $step*2;
    width: 90px;
    height: 36px;
}