@import "../variables";

.header {
    display: flex;
    color: $text-color;
    background-color: $bg-color;
    font-family: PT Serif, Georgia, serif;
    font-size: $font-size-medium;
}

.menu {
    display: flex;
    justify-content: space-between;
    &__link{
        margin: 0 $step*4;
        text-align: center;
        line-height: 2;
        color: $text-color;
        text-decoration: none; 
       }
       &__link:hover {
        color: $color-active-link; 
        text-decoration: none;
    }
}

.form {
    display: flex;
    justify-content: space-between;
    padding-right: $step*12.5;

    &__search{
        width: 198px;
        margin-right: $step;
        padding-left: $step;
    }
    // &__btn{
       
    // }
}

.logo{
    margin-left: $step*13;
    width: 80px;
    height: 36px;
}