@import "../variables";

.header {
    color: $text-color;
    font-family: PT Serif, Georgia, serif;
    font-size: $font-size-medium;
    padding: 0px $step*2;
}

.menu {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    &__item {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        display: block;
        margin: 0px $step*4 0 0px;
        text-align: left;
        line-height: 2;
        color: $text-color;
        text-decoration: none;
    }
    &__link:hover {
        color: $color-active-link;
        text-decoration: none;
    }
}

// .menu_dropdown {
//     display: grid;
//     justify-content: start;
//     justify-items: start;
//     margin-left: 76px;
// }

// .form {
//     display: flex;
//     justify-content: space-between;
//     padding-right: $step * 12.5;
//     margin-left: 32px;
//     &__search {
//         display: block;
//         width: 198px;
//         margin-right: $step;
//         padding-left: $step;
//     }
//     &__btn {
//         display: block;
//     }
// }

.logo {
    width: 80px;
    height: 36px;
}
